// add notify icon
._item_1avxi_1._compact_1avxi_19::before {
  content: " ";
  width: 4px;
  height: 6px;
  border-radius: 6px;
  background: transparent;
}

._item_1avxi_1._compact_1avxi_19[data-active="true"]::before {
  height: 10px;
  background: var(--accent);
}

._item_1avxi_1._compact_1avxi_19[data-alert="true"]::before {
  background: var(--foreground);
}

// remove existing one
._item_1avxi_1._compact_1avxi_19 {
  ._avatar_1avxi_56 > * {
    width: 1rem;
    height: 1rem;
  }

  ._button_1avxi_73 {
    display: none;
  }
}
