// message box
.MessageBox__Base-sc-jul4fa-0 {
  margin: 1rem;
  border-radius: 6px;
  border-bottom: 6px solid var(--accent);
}

// show messages as bubble
.MessageBase__MessageContent-sc-1s9ehlg-2 {
  border-radius: 6px;
  padding: .8rem 1rem;
  background: var(--tertiary-background);
  border: 1px solid var(--primary-header);
}

.MessageBase-sc-1s9ehlg-0:hover {
  background: #1a1a1a;
}

.cZEhIO, .fhGxEk {
  border-left: 2px solid var(--accent);
}