.Base-sc-yb16g4-0 {
  width: 64px;
  border-right: 1px solid var(--secondary-header);

  .SwooshWrapper-sc-176t3v5-1 {
    display: none;
  }

  div:has(.SwooshWrapper-sc-176t3v5-1 > svg) + div > span > a {
    &::before {
      content: " ";
      position: absolute;
      display: block;

      left: 0;
      margin-top: 12px;
      width: 4px;
      height: 16px;

      border-top-right-radius: var(--border-radius);
      border-bottom-right-radius: var(--border-radius);
      background: var(--accent);
    }
  }

  .ParentBase-sc-3bwws8-2,
  .ItemContainer-sc-176t3v5-0 {
    margin: 1px auto;
  }
}

._sidebar_t7t23_39 {
  border-right: 1px solid var(--secondary-header);
}

.SidebarBase__GenericSidebarBase-sc-1dma6vq-1 {
  border-left: none;
  border-right: 1px solid var(--primary-header);
}

.SidebarBase-sc-1dma6vq-0 {
  border-left: 1px solid var(--primary-header);
}
