.Base-sc-1c6g74-0,
.hZCoEm,
.Checkmark-sc-1c2l8gq-6,
.ComboBox-sc-f94r78-0,
.code,
.Button-sc-wdolxy-0,
.TextArea-sc-1kh63xd-0,
.InputBox-sc-13s1218-0,
.EmbedInvite__EmbedInviteBase-sc-154n8c6-0,
#Status,
#Menu {
  border: 1px solid var(--primary-header) !important;
}

.Button-sc-wdolxy-0.jMjzeh,
.Button-sc-wdolxy-0.uZBqX {
  border: none !important;
}

.StyledIconBase-ea9ulj-0 {
  opacity: 0.8;
}

.ButtonItem-sc-1ixnesa-0 {
  height: 32px !important;
  padding-bottom: 2px;

  .Rank-sc-sry82b-1 {
    font-size: small;

    &::after {
      content: " - ";
    }
  }
}

.InputBox-sc-13s1218-0 {
  padding: 8px !important;
}

.InputBox-sc-13s1218-0.jfZYHN .entry .override input[type="text"] {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.Column-sc-mmjmg6-0 {
  .iuNJGz {
    padding: 0;
    margin-bottom: 4px;
  }
}

.ComboBox-sc-f94r78-0 {
  padding: 8px;
}

.TipBase-sc-upm053-0.jzUIcb {
  background: var(--secondary-background);
  border: 1px solid var(--secondary-header);
}

._contentcontainer_t7t23_62 {
  h1 {
    font-size: medium !important;
  }

  h3,
  ._titleNew_fwdgs_576 {
    display: flex;
    align-items: center;

    font-size: small !important;
    font-weight: 600 !important;
    margin: 0;
    margin-top: 12px;
    margin-bottom: 4px;
  }

  h5 {
    font-size: smaller !important;
    color: var(--tertiary-foreground);
  }
}

._userDetail_fwdgs_33 {
  > div {
    font-size: medium;

    display: flex;
    align-items: center;

    > .lmzVaj {
      margin-left: 4px;
    }
  }
}
