div[class^="Header-sc-"] {
  color: var(--secondary-foreground);
  font-size: smaller;
  border-bottom: 1px solid var(--primary-header);
  border-radius: 0;

  [class^="IconButton-sc-"],
  [class^="Header__IconContainer-sc-"] {
    color: var(--tertiary-foreground);
  }

  div[class^="HeaderActions__Container-sc-"] {
    gap: 8px;

    [class^="StyledIconBase-"] {
      width: 18px;
      height: 18px;
    }
  }
}
