div[class^="MemberList__ListCategory-sc"] {
  font-weight: 600;
  font-size: x-small;
  text-transform: uppercase;
  color: var(--tertiary-foreground);
}

div[class^="SidebarBase__GenericSidebarBase-sc-"] div[class^="_name_"] {
  font-weight: 500 !important;

  > div {
    display: flex;
    align-items: center;
  }
}
