// message box
div[class^="MessageBox__Base-sc-"] {
  margin: var(--textarea-padding);
  border-radius: var(--border-radius);
  border-bottom: 2px solid var(--accent);

  textarea {
    border: none !important;
  }
}

// show messages as bubble
div[class^="MessageBase-sc-"] {
  &:hover {
    background: var(--secondary-background);
  }

  div[class^="MessageBase__MessageContent-sc-"] {
    border-radius: var(--border-radius);
    padding: 0.6rem 1rem;
    background: var(--secondary-header);

    > span {
      margin-bottom: 4px;
    }
  }
}

// ping
div[class^="MessageBase-sc-"].cZEhIO,
div[class^="MessageBase-sc-"].fhGxEk {
  border-left: 2px solid var(--mention);
}

// message reaction
.sc-jSgvzq.cTcKPP,
.sc-jSgvzq.fDfxAc {
  display: flex;
  align-items: center;
  justify-content: space-between;

  background: var(--primary-background);
  font-weight: 400;
  font-size: small;
  margin-top: 4px;

  img {
    margin-right: 8px;
    width: 0.8rem;
    height: 0.8rem;
  }
}

.sc-jSgvzq.cTcKPP {
  border: 1px solid var(--primary-header);
}

// some buggy icon
[class^="MessageBox__Blocked-sc"] svg {
  margin: 0 0.8rem;
}
