._settings_t7t23_33 ._action_t7t23_224 ._closeButton_t7t23_240 {
  border: 1px solid var(--tertiary-background);
}

.Base-sc-j9ukbi-0 {
  .content {
    .title,
    .description {
      font-size: small;
    }
  }

  border: 1px solid var(--primary-header);
}
