div[class^="_settings_"] div[class^="_action_"] {
  padding-right: 2rem !important;

  [class^="_closeButton_"] {
    border: 1px solid var(--tertiary-background);
  }
}

a[class^="Base-sc-"] {
  .content {
    .title,
    .description {
      font-size: small;
    }
  }

  border: 1px solid var(--primary-header);
}

div[class^="Category-sc-"] {
  padding-left: 0;
  padding-bottom: 0;

  color: var(--secondary-foreground);
}
