#app > [class^="RevoltApp__AppContainer"] > div > div > div[class^="Base-sc-"] {
  width: 64px;
  border-right: 1px solid var(--secondary-header);

  div[class^="SwooshWrapper-sc-"] {
    display: none;
  }

  div:has(div[class^="SwooshWrapper-sc-"] > svg) + div > span > a {
    &::before {
      content: " ";
      position: absolute;
      display: block;

      left: 0;
      margin-top: 12px;
      width: 4px;
      height: 16px;

      border-top-right-radius: var(--border-radius);
      border-bottom-right-radius: var(--border-radius);
      background: var(--accent);
    }
  }

  div[class^="ParentBase-sc-"],
  div[class^="ItemContainer-sc-"] {
    margin: 1px auto;
  }
}

div[class^="_settings_"] > div[class^="_sidebar_"] {
  border-right: 1px solid var(--secondary-header);
  padding-left: 12px;
}

div[class^="SidebarBase__GenericSidebarBase-sc-"] {
  border-left: none;
  border-right: 1px solid var(--primary-header);
}

div[class^="SidebarBase-sc-"] {
  border-left: 1px solid var(--primary-header);
}
